<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('../partials/_navbar.ejs')%>
    <h1>Add A New Listing</h1>
<form action="/listings" method="POST"></form>

  <label for="street-address">Street Address:</label>
  <input type="text" name="streetAddress" id="street-address" />
  <label for="city">City:</label>
  <input type="text" name="city" id="city" />
  <label for="price">Price:</label>
  <input type="number" name="price" id="price" min="0" />
  <label for="size">Size:</label>
  <input type="number" name="size" id="size" min="0" />
  <button type="submit">Add Listing</button>
</form>
</body>
</html>